.global_navigation {
    width: 100px;
    height: 100%;
    background-color: #876ED7;
}

.global_navigation li {
    list-style-type: none;
}

.global_navigation a {
    text-decoration: none;
    color: white;
}